<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParallaxEffect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E964ED31ECFE05000D532EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E964EE71ECFE05000D532EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E964EF21ECFE05000D532EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
